extends layout.pug

block content
  .card.text-bg-light.border-info
    .container
      h1.textcenter Welkom bij Jota
      h4 Wandelingen & tours binnen en buiten 
        a(href="https://www.amsterdam.nl" target="_blank") Amsterdam
      hr
      h5 Mijn tours kunnen worden geboekt via de website van ToursByLocals. 
      h5 Deze website is in het Engels, maar de tours kunnen in ook het Nederlands, Frans en Duits worden gegeven.
      h6 Natuurlijk kun je goedkoper direct bij mij boeken: neem contact op  
        a(href="mailto:info@jota.nl") via email
      h4 
        a(href="/tours") klik hier 
        | voor een overzicht van mijn tours
      p (Klik op de titel van de tour voor meer informatie en eventueel directe -duurdere- boekingen.)
