// - layout.pug
html
  head
    title Jota Services #{title}
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet")
    link(href="./css/jota.css" rel = "stylesheet")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Lora&family=Radley")


  body.mainpage
    .container
      nav.navbar.navbar-expand
        .container
          h1.large Amsterdam tours
          a(class='navbar-brand text-center' href="/") 
            img(src="./img/logo.jpg")
      main
        //- p #{tours.length}
        block content

        block foot
          #footer
            p.small © 2022 Jota Services