extends layout.pug
include mixins/tour.pug

block content
  .row
    .col-lg-6
      ul In de stad
      each tour in tours
        if tour.type==="Stad"
          li
            +tour(tour)
          p
    .col-lg-6
      ul Buiten de stad
      each tour in tours
        if tour.type!=="Stad"
          li
            +tour(tour)
          p

